@import "../../styles/variables.scss";
@import "../../styles/mixines.scss";

.AuthFormWrapper {
  @include formStyles;

  .NavigationButton {
    background-color: $primary;
    color: inherit;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #fff;
      color: $primary;
    }
  }
  .NavigationButton_active {
    background-color: #fff;
    color: $primary;
  }
}

.AuthForm {
  @include formControlStyles;
}
