.ButtonsGroup {
  display: flex;
  margin: 20px 0;

  // Duplicating selector to increase specificity
  & > :first-child:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
  & > :last-child:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & > * {
    flex-grow: 1;
  }
}
